      <h3>User info</h3>
      <table>
        <tr>
          <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: 'noimage.jpg', size:'100x100', class: "attachment user profile_image fallback"  %>
        </tr>
        <tr>
          <th>name</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>introduction</th>
          <td><%= user.introduction %></td>
        </tr>
      </table>
      <div>
        <%= link_to "編集", edit_user_path(user), class: "btn btn-info btn-sm btn-block" %>
      </div>